/* @layer theme, base, antd, components, utilities; */
@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
  }

@layer components {
  .border-sh {
      @apply border-2 border-gray-300 dark:border-neutral shadow-lg shadow-neutral-950;
  }
  .color-scale-trans {
    transition-property: color, scale, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
  .ant-message-notice-content {
       @apply capitalize transition-colors bg-base-200! font-bold;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  appearance: textfield;
}
.input:focus-within, .select:focus-within{
  outline: none;
}

